{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>


  <!--================Checkout Area =================-->
  <section class="checkout_area section_gap">
    <div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
                {{ form|crispy }}
            <button class="btn btn-dark w-50 mt-3">Order</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </section>
  <!--================End Checkout Area =================-->

  <br>
  <br>
{% endblock %}

