@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.card {
  padding-top: 12px;
  padding-bottom: 12px;
}

.buttons button {
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  background: darkgreen;
  color: #fff;
  margin-bottom: 10px;
}

.title {
  color: #000;
  text-decoration: none;
}

.image-content-hidden {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hoverabel-animation {
  transition: all 0.5s;
}

.hoverabel-animation:hover {
  transform: scale(1.3);
}
